src/main/resources/schema/zip.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://example.com/apigateway/webservice"
	xmlns:tns="http://example.com/apigateway/webservice"
	elementFormDefault="qualified">
	<xs:element name="GetZipRequest">
	<xs:complexType/>
	</xs:element>
	
	<xs:element name="GetZipResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="fileName" type="xs:string" />
				<xs:element name="content" type="xs:base64Binary" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>